<ion-header>
  <ion-toolbar>
    <ion-title>questionario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="pergunta" src="../../../assets/shapes.svg">
  <div *ngIf="questoes.indexOf(questaoAtual) != -1; then thenBlock; else elseBlock"></div>
  <ng-template #thenBlock>
    <div class="ion-padding pergunta">
      <div>
        <p>
          <strong>Questão {{contador}}: </strong> {{questaoAtual.questao}}
        </p>
      </div>
      <ion-list>
        <ion-radio-group #alternativaEscolhida>
          <ion-item *ngFor="let alternativa of questaoAtual.alternativas">
            <ion-label>{{alternativa}}</ion-label>
            <ion-radio slot="start" [value]="questaoAtual.alternativas.indexOf(alternativa)"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
    <ion-button expand="full" size="large" (click)="responder(alternativaEscolhida.value)">Responder</ion-button>
  </ng-template>
  <ng-template #elseBlock>
    <ion-button expand="full" size="large" (click)="resultado()">Visualizar resultado</ion-button>
  </ng-template>
</ion-content>
