<ion-header>
  <ion-toolbar>
    <ion-title>questionario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="pergunta" src="../../../assets/shapes.svg">
  <div class="ion-padding pergunta">
    <div>
      <p>
        <strong>Questão 1)</strong> Qual a primeira palavra que Eri Johnson disse quando bebê?
      </p>
    </div>
    <ion-list>
        <ion-radio-group>      
          <ion-item>
            <ion-label>Biff</ion-label>
            <ion-radio slot="start" value="biff" checked></ion-radio>
          </ion-item>      
          <ion-item>
            <ion-label>Griff</ion-label>
            <ion-radio slot="start" value="griff"></ion-radio>
          </ion-item>      
          <ion-item>
            <ion-label>Buford</ion-label>
            <ion-radio slot="start" value="buford"></ion-radio>
          </ion-item>
          <ion-item>
              <ion-label>Carlos</ion-label>
              <ion-radio slot="start" value="carlos"></ion-radio>
            </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-button expand="block">Responder</ion-button>
  </div>
</ion-content>
