<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Entrar?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="usuario.email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="usuario.senha" [(ngModel)]="usuario.confirmaSenha" name="senha">
        </ion-input>
      </ion-item>
      <br />
      <div class="align-center">
        <ion-button (click)="login()" expand="block" [disabled]="!usuario.valid">Entrar</ion-button>
      </div>
      <p>Esqueceu sua senha? <a [routerLink]="['/recuperar-senha']"><strong>Recuperar senha</strong></a></p>
    </form>
    <br />
    <p>Não possui conta? <a [routerLink]="['/cadastro']"><strong>Cadastre-se</strong></a></p>
  </div>
</ion-content>