<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Como é Ser Eri Johnson?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="carregado; else elseLoading">
    <ion-card *ngFor="let nota of anotacoes">
      <ion-card-content>
        <p><span>Ser </span> <span>Eri </span> <span>Johnson </span> é <strong> {{nota.conteudo}}</strong></p>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #elseLoading>
    <ion-spinner name="crescent"></ion-spinner>
  </ng-template>
  <ion-fab *ngIf="isLogado" vertical="bottom" horizontal="end" slot="fixed" (click)="anotar()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>