<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <img src="../../assets/logo.png" class="logo" alt="Eu Sou Eri Johnson?">
    <div class="align-center">
      <ion-button (click)="testeFoto()">Você é Eri Johnson?</ion-button>
    </div>
    <p class="align-center">Resultado anterior</p>
    <div class="align-center">
      <ion-button>Entrar</ion-button>
    </div>
  </div>
</ion-content>