<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Você é Eri Johnson?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <img src="../../assets/logo.png" class="logo" alt="Eu Sou Eri Johnson?">
    <div class="align-center">
      <ion-button (click)="testeFoto()" size="large" expand="block">Você é Eri Johnson?</ion-button>
    </div>
    <p class="align-center" *ngIf="resultado">Seu último teste deu {{resultado | percent}} de semelhança com Eri Johnson.</p>
    <div class="align-center">
      <ion-button (click)="entrar()">Entrar</ion-button>
    </div>
  </div>
</ion-content>